<%- include('partials/header') %>


<div class="container">
    <h1>Spec Talents</h1>
    <h2><%= specName%></h2>
    <h3><%= character%></h3>
    <br>
    <div class="container">
<%= contextTalents.splice(0, 7)%>
    </div>



</div>

<%- include('partials/footer') %>
